@import url("reset");
@import url("themes/dark");
@import url("themes/normal");
@import url("variables/global");

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}
