@use 'reset';
@use 'themes/dark';
@use 'themes/normal';
@use 'variables/global';

.app {
    font-family: var(--font-family-main);
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--black-color);
    min-height: 100vh;
}

.pageWrapper {
    min-height: calc(100vh - var(--header-height-desktop));
    width: 100%;
    display: flex;
}

::-webkit-scrollbar {
    width: 14px;
    height: 10%;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 8px;
    min-height: 50px;
}
