* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: var(--white-black);
	text-decoration: none;
}

input,
button,
textarea,
select {
	margin: 0;
	font: inherit;
}

ul li {
	list-style: none;
}
