.title {
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--black-color);
}
.subtitle {
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-l);
    color: var(--black-color);
    height: fit-content;
}
.mediumText {
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-m);
}

.text {
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-s);
}

.date {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-l);
    text-align: right;
}

.bold {
    font-weight: 500;
}

.medium {
    font-weight: 400;
}
.light {
    font-weight: 300;
}
