.wrapper {
    width: 650px;
    height: 350px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 100%;
    margin: 0 auto;
    font-family: var(--font-family-main);
    color: var(--primary-color);
}

.formItem {
    display: flex;
    width: fit-content;
    height: 70px;
    margin: 0 0 14px;
}

.formButton {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 15px;
}

.title {
    margin-bottom: 56px;
    font-size: var(--font-size-xl);
    font-weight: 600;
    text-align: center;
}

.label {
    width: 140px;
    padding-top: 20px;
    margin-right: 16px;
    font-size: var(--font-size-vs);
    text-align: end;
    white-space: nowrap;
}

.helper {
    width: 100%;
    padding-left: 18px;
    margin-bottom: 8px;
    font-size: var(--font-size-s);
    text-align: left;
    background-repeat: no-repeat;
}

.helperHint {
    background-image: url('/shared/assets/images/helpers/hint.svg');
}

.helperWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
