.button {
    height: 48px;
    border-radius: 12px;
    border: none;
    background-color: var(--button-primary-color);

    font-family: var(--font-family-main);
    font-size: var(--font-size-l);
    color: var(--white-color);
    cursor: pointer;
}

.medium {
    width: 200px;
}

.small {
    width: 140px;
}

.secondary {
    background-color: var(--button-secondary-color);
}

.outline {
    background-color: transparent;
    border: 1px solid var(--button-border-color);
}

.rounded {
    height: 40px;
    border-radius: 20px;
}

.text {
    background-color: transparent;
    border: none;
    color: var(--black-color);
}

.disabled {
    cursor: default;
    opacity: 0.7;
}
