.button {
    height: 48px;

    font-family: var(--font-family-main);
    font-size: var(--font-size-l);
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--button-primary-color);
    border: none;
    border-radius: 12px;
}

.large {
    width: 200px;
}

.medium {
    width: 200px;
}

.small {
    width: 140px;
}

.disabled {
    cursor: default;
    opacity: 0.7;
}

.darkGrey {
    background-color: var(--button-primary-color);
    border: 1px solid var(--button-primary-color);
}

.lightGrey {
    background-color: #dedede;
    border: 1px solid #dedede;
}

.purple {
    background-color: var(--bg-third-color);
    border: 2px solid var(--bg-third-color);
}

.orange {
    font-weight: 500;
    color: var(--bg-secondary-color);
    background-color: var(--orange);
    border: 1px solid var(--bg-secondary-color);
}

.secondary {
    background-color: var(--button-secondary-color);
}

.outline {
    color: var(--bg-third-color);
    background-color: transparent;
}

.rounded {
    height: 40px;
    border-radius: 20px;
}

.text {
    color: var(--black-color);
    background-color: transparent;
    border: none;
}

.hint {
    width: auto;
    height: auto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    color: var(--primary-color);
    background: none;
    border: none;
}
