.wrapper {
    font-family: var(--font-family-main);
    height: var(--header-height-desktop);
    background-color: var(--white-color);
    width: 100vw;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 100%;
    margin: 0 80px;
    margin: 0 auto;
    padding: 0 80px;
}

.navItem {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
}
.navItem:last-child {
    margin-right: 0;
}

.active {
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 500 !important;
    transition: font-weight 0.3s ease-in-out;
}

.links {
    position: relative;
}

.user {
    display: flex;
    height: fit-content;
}

.userInfo {
    font-size: var(--font-s);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.arrow {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.arrowRotated {
    transform: rotate(180deg);
}
