.ChangePasswordForm {
    width: 590px;
    margin: 0 auto;
}

.Title {
    margin-bottom: 35px;
    text-align: center;
}

.formItem {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    .label {
        width: 190px;
        text-align: right;
    }

    .formInput {
        flex: 1 1 auto;
    }
}

.buttonWrapper {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}

.changeBtn {
    display: flex;
    justify-content: center;
    width: 370px;
}
