.List {
    max-width: 450px;
    padding: 21px 20px;
    font-family: var(--font-family-main);
    background-color: var(--white-color);
    border-radius: 10px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
}

.title {
    font-size: var(--font-size-l);
    font-weight: 500;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 15px;
    font-weight: 500;
}

.value {
    display: grid;
    place-items: center;
    width: 45px;
    height: 45px;
    font-size: var(--font-size-xl);
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }

    &.active {
        font-weight: 500;
        background-color: var(--orange);
    }
}
