.List {
    max-width: 450px;
    background-color: var(--white-color);
    padding: 21px 20px;
    border-radius: 10px;
    font-family: var(--font-family-main);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

.title {
    margin-top: 20px;
    margin-bottom: 24px;
    font-size: var(--font-size-l);
    font-weight: 400;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.value {
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: var(--font-size-xl);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }

    &.active {
        font-weight: 500;
        background-color: #dedede;
    }
}
