.ChangePasswordPage {
    display: flex;
    justify-content: center;
    width: calc(100vw - var(--sidebar-width));
    max-width: 1200px;
    max-height: calc(100vh - var(--header-height-desktop));
    margin: var(--margin-top-form-l) auto 0 auto;
}
