.wrapper {
    min-height: var(--height-90);
    @media (max-height: 700px) {
        margin-top: 30px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    color: var(--primary-color);
    width: 536px;
    font-family: var(--font-family-main);
    justify-content: end;
}

.formItem {
    margin: 0 0 14px 0;
    height: 70px;
    width: fit-content;
    display: flex;

    &:last-child {
        height: 20px;
    }
}

.formButton {
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.label {
    white-space: nowrap;
    font-size: var(--font-size-vs);
    margin-right: 16px;
    padding-top: 20px;
    width: 140px;
    text-align: end;
}

.helper {
    width: 380px;
    float: right;
    font-size: var(--font-size-s);
    background-repeat: no-repeat;
    padding-left: 18px;
}

.error {
    background-image: url('/shared/assets/images/helpers/error.svg');
}
.hint {
    background-image: url('/shared/assets/images/helpers/hint.svg');
}

.success {
    background-image: url('/shared/assets/images/helpers/success.svg');
}
