.FilterMenu {
    width: 100%;
}

.filterWrapper {
    padding: 30px 20px;
}

.range {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rangeHelp {
    margin-top: 10px;
}

.filterItem {
    height: 50px;
    align-items: center;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: (20% 80%);
}

.buttonWrapper {
    width: 100%;
    text-align: right;
}

.button {
    margin: 0 20px 20px 0;
}
