.wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: var(--margin-top-form-m);
}

.contentWrapper {
    justify-content: end;
    width: fit-content;
    font-family: var(--font-family-main);
    color: var(--primary-color);
}

.formItem {
    display: flex;
    width: fit-content;
    height: 70px;
    margin: 0 0 14px;
    @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &:last-child {
        height: 20px;
    }
}

.formButton {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-top: 15px;
    @media (max-width: 700px) {
        align-items: center;
        padding-top: 40px;
    }
}

.label {
    width: 140px;
    padding-top: 20px;
    margin-right: 16px;
    font-size: var(--font-size-vs);
    text-align: end;
    white-space: nowrap;
    @media (max-width: 700px) {
        margin-bottom: 10px;
        text-align: start;
    }
}

.helper {
    float: right;
    width: 380px;
    padding-left: 18px;
    font-size: var(--font-size-s);
    background-repeat: no-repeat;
    @media (max-width: 700px) {
        margin-top: 40px;
    }
}

.button {
    @media (max-width: 700px) {
        margin-top: 35px;
    }
}

.error {
    background-image: url('/shared/assets/images/helpers/error.svg');
}

.hint {
    background-image: url('/shared/assets/images/helpers/hint.svg');
}

.success {
    background-image: url('/shared/assets/images/helpers/success.svg');
}
