.DroppedMenu {
    position: absolute;
    left: 50%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 0;
    overflow: hidden;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    transition: height 0.3s;
    transform: translateX(-50%);

    .left {
        left: 0;
        transform: translateX(0);
    }
}

.wrapperSmall {
    width: 200px;

    &.openedSmall {
        height: 178px;
    }
}

.wrapperMedium {
    align-items: normal;
    width: 248px;
    overflow-y: auto;

    &.openedMedium {
        height: fit-content;
        min-height: 0;
        max-height: 260px;
    }
}

.wrapperLarge {
    width: 100%;

    &.openedLarge {
        height: 380px;
    }
}

.adaptive {
    width: 100%;
}
