.FilteredList {
    margin-top: 35px;
    width: 100%;
    height: fit-content;
    max-height: calc((100vh - var(--header-height-desktop)) / 2);
    background-color: var(--white-color);
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
    opacity: 0;
    display: none;
    pointer-events: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    &.opened {
        opacity: 1;
        pointer-events: auto;
        display: block;
    }
}
.closeIcon {
    position: absolute;
    top: 40px;
    right: 40px;
    opacity: 0.7;
    cursor: pointer;
}
.table {
    padding: 70px 20px 5px 20px;
    .title {
        margin-bottom: 27px;
    }
    .subtitle {
        font-weight: 400;
    }
}

.heading {
    display: grid;
    grid-template-columns: 10% 20% 25% 15% 15% 15%;
    border-bottom: 1px solid #dedede;
}

.row {
    display: grid;
    grid-template-columns: 10% 20% 25% 15% 15% 15%;
    border-bottom: 1px solid #dedede;
    padding-top: 24px;
    padding-bottom: 5px;
}

.items {
}

.price {
    grid-template-columns: 4% 20% 25% 15% 15% 23%;
}

.category {
    color: black;
}

.error {
    text-align: center;
    padding-bottom: 20px;
}
