.ProductsPage {
    margin: 0 auto;
    padding: 25px 15px;
    max-width: 1160px;
    width: calc(100vw - var(--sidebar-width));
    font-family: var(--font-family-main);
}

.top {
    margin-bottom: 22px;
}

.top,
.topOne,
.topTwo {
    display: flex;
    align-items: center;
}

.topOne {
    gap: 77px;
}

.topTwo {
    margin-left: auto;
    gap: 30px;
}

.date {
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-l);
}

.search {
    width: 560px;
}
