.ProductsPage {
    margin: 0 auto;
    padding: 25px 15px;
    max-width: 1200px;
    width: calc(100vw - var(--sidebar-width));
    font-family: var(--font-family-main);
}

.navigation {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}

.navigation h1 {
    width: 109px;
    margin-right: 77px;
}

.search {
    margin-right: 38px;
    width: 100%;
    max-width: 550px;
}

.date {
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-l);
}

.sideButtons {
    position: fixed;
    top: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
