.TableHeading {
    background-color: var(--bg-third-color);
    font-family: var(--font-family-main);
}
.items {
    display: grid;
    padding: 8px 36px 8px 18px;
    color: #ffffff;
    &.products {
        grid-template-columns: 4% 13.5% 16.5% 22.5% 9.5% 9% 9% 17%;
    }
    &.categories {
        padding-left: 25px;
        grid-template-columns: 278px 78px;
        gap: 10px;
    }
    &.vendors {
        grid-template-columns: 5% 14% 15% 19% 48%;

        @media (max-width: 900px) {
            column-gap: 5px;
            grid-template-columns: 5% 16% 17% 21% 40%;
        }
    }
}

.item {
    text-decoration: none;
    list-style: none;
    font-size: var(--font-size-m);
    display: flex;
    align-items: center;
    gap: 6px;
    div {
        display: grid;
        place-items: center;
    }
}

.sortIcon {
    height: 15px;
    width: 15px;
    margin-left: 6px;
    fill: #ffffff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.activeArrow path {
    fill: var(--orange);
    transform: scale(1.1, 1.1);
}

.sortAsc {
    transform: rotate(180deg);
}
