.TableHeading {
    background-color: var(--bg-third-color);
    font-family: var(--font-family-main);
}
.items {
    display: grid;
    padding: 8px 18px;
    &.products {
        grid-template-columns: 11% 16% 22% 10% 10% 10% 16% 2%;
    }
    &.categories {
        padding-left: 67px;
        grid-template-columns: 6% 24% 10%;
    }
}

.item {
    text-decoration: none;
    list-style: none;
    font-size: var(--font-size-m);
}

.sortIcon {
    margin-left: 5px;
}
