:root {
    --bg-color: #f9fafc;
    --bg-secondary-color: #68686c;
    --bg-third-color: #544780;
    --orange: #f9aa55;
    --light-orange: #f9aa5580;

    --button-primary-color: #757575;
    --button-secondary-color: #ad8d8d;
    --button-border-color: rgb(66 66 66 / 40%);
    --button-border-error-color: rgb(255 0 0 / 100%);

    --inverted-bg-color: #5b5b5b;
    --primary-color: #000;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --white-color: #fff;
    --black-color: #000;
}
