:root {
    --bg-color: #f9fafc;
    --bg-secondary-color: #68686c;
    --bg-third-color: #544780;
    --orange: #f9aa55;
    --light-orange: #f9aa5580;

    --button-primary-color: #757575;
    --button-secondary-color: #ad8d8d;
    --button-border-color: rgba(66, 66, 66, 0.4);
    --button-border-error-color: rgba(255, 0, 0, 1);

    --inverted-bg-color: #5b5b5b;
    --primary-color: #000000;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --white-color: #ffffff;
    --black-color: #000;
}
