.wrapper {
    width: calc(100vw - var(--sidebar-width));
    max-width: 1200px;
    height: calc(100vh - var(--header-height-desktop));
    margin: 0 auto;
    overflow-y: scroll;
    background-color: var(--bg-color);
}

.HomePage {
    width: calc(100vw - var(--sidebar-width));
    max-width: 1200px;
    padding: 25px 35px;
    margin: 0 auto;
    font-family: var(--font-family-main);
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 35px;
}

.items {
    display: flex;
    flex: 1 1 auto;
    row-gap: 50px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
    }
}

.item {
    width: 445px;
    height: 245px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.btns {
    position: fixed;
    top: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
