.wrapper {
    width: 100%;
    max-height: calc(100vh - var(--header-height-desktop));
    overflow-y: auto;
}

.HomePage {
    margin: 0 auto;
    padding: 25px 15px;
    max-width: 1200px;
    width: calc(100vw - var(--sidebar-width));
    font-family: var(--font-family-main);
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 35px auto;
}

.items {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: space-between;
    flex: 1 1 auto;
}

.item {
    flex: 1 1 auto;
}
