.wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: var(--margin-top-form-l);
}

.contentWrapper {
    width: var(--form-width-desktop);
    color: var(--primary-color);
}

.message {
    height: 22px;
}

.formItem {
    height: 70px;
    margin: 0 0 14px;
}

.formButton {
    float: right;
    margin-top: 15px;
}

.helper {
    padding-left: 18px;
    font-size: var(--font-size-l);
    background-repeat: no-repeat;
}

.helperError {
    background-image: url('/shared/assets/images/helpers/error.svg');
}

.helperWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forgotBtnWrapper {
    display: flex;
    justify-content: right;
}
