.inputWrapper {
    position: relative;
    margin-bottom: 8px;
    font-family: var(--font-family-main);
}

.input {
    width: 100%;
}
.line {
    padding: 10px 0 0 8px;
    font-size: var(--font-size-m);
    border: none;
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    height: 40px;
    &:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid var(--black-color);
    }
}

.outline {
    width: 100%;
    padding: 10px 0 0 20px;
    font-size: var(--font-size-m);
    border: 1px solid #757575;
    border-radius: 10px;
    height: 38px;

    &:focus {
        outline: none;
    }
}

.hint {
    position: absolute;
    top: 30px;
    left: -11px;
    margin: 10px 10px;
    width: 248px;
    max-height: 0;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    border-radius: 10px;
    overflow: hidden;
    &.opened {
        max-height: 207px;
        height: fit-content;
        overflow-y: auto;
        z-index: 5;
        pointer-events: auto;
    }

    &.adaptive {
        width: 100%;
        text-align: center;
    }
}

.rightWrapper {
    padding: 10px 0 10px 10px;
    position: absolute;
    top: -15px;
    right: -430px;
    width: 390px;
    max-height: 260px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;

    @media (max-width: 1440px) {
        width: 300px;
        right: -340px;
    }

    @media (max-width: 1340px) {
        top: 105%;
        right: 25%;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 800px) {
        right: 20%;
    }

    .hint {
        position: relative;
        top: 0;
        left: -10px;
        margin: 0;
        width: 100%;
        max-height: 0;
        box-shadow: none;
        border-radius: 0;
        overflow: hidden;
        z-index: 4;

        &.opened {
            max-height: 240px;
            height: fit-content;
            overflow-y: auto;

            li {
                margin-bottom: 0;
                margin-left: 25px;
            }
        }

        &.adaptive {
            width: 100%;
            text-align: center;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 9px;
        left: -13px;
        width: 30px;
        height: 30px;
        z-index: 2;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
        transform: rotate(45deg);
        overflow: hidden;

        @media (max-width: 1340px) {
            display: none;
        }
    }
}

.hintItem {
    margin: 4px 15px 0;
    padding: 5px 0 4px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:last-child {
        margin-bottom: 10px;
    }
    &:hover {
        background-color: var(--light-orange);
    }
}
