:root {
    --font-family-main: 'Montserrat', sans-serif;
    --font-size-s: 16px;
    --font-size-m: 24px;
    --font-size-l: 32px;

    /* Размеры */
    --wrapper-width-desktop: 1360px;

    --header-height-desktop: 120px;
}
