:root {
    --font-family-main: 'Montserrat', sans-serif;
    --font-size-ms: 12px;
    --font-size-vs: 14px;
    --font-size-s: 16px;
    --font-size-m: 24px;
    --font-size-l: 32px;

    /* Размеры */
    --wrapper-width-desktop: 1360px;
    --form-width-desktop: 380px;
    --fullform-width-desktop: 550px;

    --header-height-desktop: 120px;
}
