:root {
    --font-family-main: consolas, 'Times New Roman', serif;
    --font-size-s: 16px;
    --font-size-m: 24px;
    --font-size-l: 32px;

    /* Размеры */
    --header-height-desctop: 120px;
}
