.wrapper {
	position: fixed;
	top: 25px;
	left: 50%;
	z-index: 201;
	display: grid;
	place-items: center;
	width: fit-content;
	height: 70px;
	padding: 5px 15px 5px 40px;
	background-color: #efedf4;
	border-radius: 5px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
	transform: translateY(-150%) translateX(-50%);
	animation: move 1.7s linear;
}

.text {
	color: rgb(0 0 0 / 80%);
}

.icon {
	position: fixed;
	top: 50%;
	left: 15px;
	width: 17px;
	height: 17px;
	transform: translateY(-50%);
}

.icon * {
	fill: green;
}

.icon.error * {
	fill: tomato;
}

@keyframes move {
	0% {
		transform: translateY(-150%) translateX(-50%);
	}

	15% {
		transform: translateY(0%) translateX(-50%);
	}

	50% {
		transform: translateY(0%) translateX(-50%);
	}

	70% {
		transform: translateY(0%) translateX(-50%);
	}

	100% {
		transform: translateY(-150%) translateX(-50%);
	}
}
