.wrapper {
	position: fixed;
	top: 25px;
	left: 50%;
	z-index: 201;
	display: grid;
	place-items: center;
	width: fit-content;
	height: 70px;
	padding: 5px 15px 5px 40px;
	background-color: var(--bg-third-color);
	border-radius: 5px;
	box-shadow: 0 4px 4px var(--button-primary-color);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	transform: perspective(600px) translate(-50%, -160%) rotateX(45deg);
	animation: move 2s linear;
}

.text {
	color: #f9fafc;
}

.icon {
	position: fixed;
	top: 50%;
	left: 15px;
	width: 17px;
	height: 17px;
	transform: translateY(-50%);
}

.icon * {
	fill: lightgreen;
}

.icon.error * {
	fill: var(--button-border-error-color);
}

@keyframes move {
	15% {
		opacity: 1;
		transform: perspective(600px) translate(-50%, 0) rotateX(0deg);
	}

	50% {
		opacity: 1;
		transform: perspective(600px) translate(-50%, 0) rotateX(0deg);
	}

	70% {
		opacity: 1;
		transform: perspective(600px) translate(-50%, 0) rotateX(0deg);
	}

	100% {
		opacity: 0;
		transform: perspective(600px) translate(-50%, -160%) rotateX(45deg);
	}
}
