.CategoriesPage {
    margin: 0 auto;
    padding: 25px 35px;
    max-width: 1200px;
    width: calc(100vw - var(--sidebar-width));
    font-family: var(--font-family-main);
}

.navigation {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}

.navigation .title {
    width: 109px;
    margin-right: 77px;
}

.navigation button {
    margin-left: 40px;
}

.search {
    width: 100%;
    max-width: 550px;
}
.date {
    margin-left: auto;
}
