.CategoriesPage {
    width: calc(100vw - var(--sidebar-width));
    max-width: 1200px;
    padding: 25px 35px;
    margin: 0 auto;
    font-family: var(--font-family-main);
}

.navigation {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.navigation .title {
    width: 109px;
    margin-right: clamp(0.938rem, -5.951rem + 14.35vw, 4.813rem);
}

.navigation button {
    margin-left: 40px;
}

.search {
    width: 100%;
    max-width: 550px;
}

.date {
    min-width: 100px;
    padding-left: 5px;
    margin-left: auto;
}
