.loaderWrapper {
    max-width: 1200px;
    height: calc(80vh - var(--header-height-desktop));
    background-color: #fff;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: linear-gradient(90deg, #ecebeb, #fff, #ecebeb);
        background-size: 200%;
        animation: 1s infinite linear skeleton;
    }
}

@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
