.TableRow {
    background-color: var(--white-color);
    font-family: var(--font-family-main);
}
.items {
    display: grid;
    padding: 31px 0 8px 0;
    margin: 0 18px;
    border-bottom: 1px solid #dedede;

    &.products {
        grid-template-columns: 11.5% 16% 22.5% 10% 10% 10% 16% 2%;
    }
    &.categories {
        padding-left: 50px;
        grid-template-columns: 6% 25% 10%;
    }
}

.item {
    font-size: var(--font-size-m);
    list-style: none;
}
