.TableRow {
    background-color: var(--white-color);
    font-family: var(--font-family-main);
    cursor: pointer;
    &:hover {
        background-color: #fcfcfc;
    }
}
.items {
    display: grid;
    padding: 31px 0 8px 0;
    margin: 0 18px;
    border-bottom: 1px solid #dedede;
    &.products {
        grid-template-columns: 4% 13.5% 16% 22.5% 9% 9% 9% 17%;
    }
    &.categories {
        padding-left: 7px;
        grid-template-columns: 278px 78px;
        gap: 10px;

        & li:nth-child(2) {
            text-align: center;
        }
    }
    &.vendors {
        grid-template-columns: 5% 14% 15% 18% 48%;
    }
}

.item {
    font-size: var(--font-size-m);
    list-style: none;
    .discount {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
    }
}
