.TableRow {
    font-family: var(--font-family-main);
    background-color: var(--white-color);
}

.active {
    background: rgb(249 170 85 / 50%);
}

.items {
    display: grid;
    padding: 5px 0 3px;
    margin: 20px 18px 0;

    border-bottom: 1px solid #dedede;

    &.products {
        grid-template-columns: 4% 13.5% 16% 22.5% 9% 9% 9% 17%;
    }

    &.categories {
        grid-template-columns: 278px 78px;
        gap: 10px;
        padding-left: 7px;

        & li:nth-child(2) {
            text-align: center;
        }
    }

    &.vendors {
        grid-template-columns: 5% 14% 15% 19% 48%;

        @media (max-width: 900px) {
            grid-template-columns: 5% 16% 17% 21% 40%;
            column-gap: 5px;
        }
    }
}

.item {
    overflow: hidden;
    font-size: var(--font-size-m);
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;

    .discount {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
    }
}
