.PageLoader {
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100vw - var(--sidebar-width));
    height: calc(80vh - var(--header-height-desktop));
    display: flex;
    align-items: center;
    justify-content: center;
}
