.wrapper {
    font-family: var(--font-family-main);
}

.inputWrapper {
    height: 48px;
    position: relative;
    margin-bottom: 8px;
}

.input {
    width: 380px;
    border: none;
    padding: 10px 0 0 8px;
    font-size: var(--font-size-m);
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    height: 40px;
    &:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid var(--black-color);
    }
}

.hint {
    margin: 10px 10px;
}

.hintItem {
    padding: 8px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:hover {
        background-color: #fafafa;
    }
}
