.link {
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-l);
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in-out;
}

.clear {
    background-color: transparent;
    border: none;
    &.active {
        font-family: var(--font-family-main);
        font-style: normal;
        font-weight: 500 !important;
        transition: font-weight 0.3s ease-in-out;
    }

    & :after {
        content: '';
        opacity: 0;
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--black-color);
        position: absolute;
        top: 25px;
        transition: opacity 0.3s ease-in-out;
    }
    &:hover :after {
        content: '';
        opacity: 1;
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--black-color);
        position: absolute;
        top: 25px;
        transition: opacity 0.3s ease-in-out;
    }
}

.secondary {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-s);
    font-weight: 400;
    opacity: 1;

    &:hover {
        opacity: 0.9;
        transition: opacity 0.3s ease-in-out;
    }
}
