.link {
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-s);
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    transition: 0.5s ease-in-out;
    & :after {
        content: '';
        opacity: 0;
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--black-color);
        position: absolute;
        top: 25px;
        transition: opacity 0.3s ease-in-out;
    }
}

.link:hover :after {
    content: '';
    opacity: 1;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--black-color);
    position: absolute;
    top: 25px;
    transition: opacity 0.3s ease-in-out;
}

.outline {
    background-color: transparent;
    border: none;
}
