.label,
.custom {
    width: 22px;
    height: 22px;
}

.custom {
    position: relative;
    display: inline-block;
    vertical-align: sub;
    background-color: transparent;
    border: 1px solid #757575;
    border-radius: 4px;
}

.dark {
    border: 1px solid #fff;
}

.custom::before {
    position: absolute;
    top: 53%;
    left: 52%;
    display: inline-block;
    width: 13px;
    height: 9.6px;
    content: '';
    background-image: url('/shared/assets/images/icons/checkbox.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
}

.real:checked + .custom::before {
    transform: translate(-50%, -50%) scale(1);
}

.real {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}

.label {
    display: inline-block;
    cursor: pointer;
}
